<% pageCSS = ['About.css']; %>
<!-- ABOUT HERO -->
<section class="about-hero">
    <h1>About Us</h1>
    <p>
        MediVault transforms traditional healthcare into a modern, secure, and accessible digital experience.
        Our mission is simple — empower patients and healthcare providers with seamless medical data management.
    </p>
</section>

<!-- INFO CARDS -->
<section class="info-section">
    <div class="card-container">

        <div class="info-card">
            <h3>Our Vision</h3>
            <p>To simplify healthcare by providing secure, user-friendly digital medical services for everyone.</p>
        </div>

        <div class="info-card">
            <h3>Secure Data Vault</h3>
            <p>Military-grade encryption keeps your medical history safe, accessible, and private.</p>
        </div>

        <div class="info-card">
            <h3>Smart Prescription Parser</h3>
            <p>Upload a prescription and let our AI instantly convert it into structured data.</p>
        </div>

    </div>
</section>

<!-- TEAM SECTION -->
<section class="team-section">
    <h2>Meet Our Team</h2>

    <div class="team-grid">
        <div class="team-mem">
            <img src="https://i.pravatar.cc/150?img=12">
            <h4><a href="https://www.linkedin.com/in/abhirup-nandi-b86a77286/">Abhirup</a></h4>
        </div>

        <div class="team-mem">
            <img src="https://i.pravatar.cc/150?img=12">
            <h4><a href="https://www.linkedin.com/in/aryanroy20?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Aryan</a></h4>
        </div>

        <div class="team-mem">
            <img src="https://i.pravatar.cc/150?img=9">
            <h4><a href="https://www.linkedin.com/in/sonam-das-168a21341/">Sonam</a></h4>
        </div>

        <div class="team-mem">
            <img src="https://i.pravatar.cc/150?img=12">
            <h4><a href="https://www.linkedin.com/in/ankur-pal-52b723327?utm_source=share_via&utm_content=profile&utm_medium=member_ios">Ankur</a></h4>
        </div>
    </div>
</section>

    
    <script src="/js/About.js"></script>