<% pageCSS = ['About.css']; %>
<div class="container">

        <div class="content-card">
            <h2 class="mission-title">Our Mission</h2>
            
            <p class="mission-text">
                To be added
            </p>

            <h2 class="content-title">To be Added</h2>
            <p class="content-text">
                To be Added According to Features
            </p>

            

            
            <div class="developers-section">
                <h3 class="developed-by">Developed By</h3>
                <a href="https://www.linkedin.com/in/abhirup-nandi-b86a77286/" class="developer-name">Abhirup Nandi</a>
                <a href="https://www.linkedin.com/in/aryanroy20?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="developer-name">Aryan Roy</a>
                <a href="https://www.linkedin.com/in/sonam-das-168a21341/" class="developer-name">Sonam Das</a>
                <a href="https://www.linkedin.com/in/ankur-pal-52b723327?utm_source=share_via&utm_content=profile&utm_medium=member_ios" class="developer-name">Ankur Pal</a>
            </div>
        </div>
    </div>
    
    <script src="/js/About.js"></script>