/* ABOUT HERO SECTION */
.about-hero {
    margin-top: 100px;
    text-align: center;
    padding: 50px 20px;
}

.about-hero h1 {
    font-size: 60px;
    color: #003366;
    font-weight: 800;
}

.about-hero p {
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
    color: #444;
}

/* INFO CARDS */
.info-section {
    padding: 50px 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.info-card {
    width: 320px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 4px solid #007bff;
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
}

.info-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #003366;
}

.info-card p {
    font-size: 15px;
    color: #444;
}

/* TEAM SECTION */
.team-section {
    background: white;
    padding: 60px 20px;
    text-align: center;
}

.team-section h2 {
    font-size: 35px;
    color: #003366;
    margin-bottom: 40px;
}

.team-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-mem {
    text-align: center;
}

.team-mem img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
}

.team-mem h4 {
    margin-top: 10px;
    color: #003366;
}

.team-mem h4 a{
    text-decoration: none;
    color:#003366;
}
